@model Complaint

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Create Complaint</h2>
			<hr/>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="UserName" class="p-0">User Name</label>
			<input asp-for="UserName" class="form-control" />
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="OrganizationId" class="p-0">OrganizationId</label>
			<input asp-for="OrganizationId" class="form-control" />
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Description" class="p-0">Description</label>
			<input asp-for="Description" class="form-control" />
		</div>
		<div class="row">
			<div class="col-6 col-md-3">
				<button type="submit" class="btn btn-primary form-control">Create</button>
			</div>
			<div class="col-6 col-md-3">
				<a asp-controller="Complaint" asp-action="Index" class="btn btn-secondary border form-control">
				Back to List
			</a>
			</div>			
		</div>
	</div>
</form>