@{
    ViewData["Title"] = "Home";
}

<div class="text-center container">
    <h1 class="display-4">Welcome to our app</h1>
    <h2 class="fs-4 text">If you are a conscious citizen of your country,<br /> our project will be useful to you!</h2>
</div>
<div class="container">
    <img class="img-fluid mx-auto d-block" src="~/img/HomePage.png" alt="Зразок img" />


</div>